
html {
    min-width: 600px;
    height: 100%;
    padding: 0px;
}

body {
    margin: 0px;
}

.container1 {
    height: 100vh;
    background-color: orange;
    background: linear-gradient(to top, rgba(255, 123, 0, 0.973), rgba(255, 217, 0, 0.877)), url(media/computerScreens.png) no-repeat top center;

}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#titleImg {
    width: 200px;
    border-radius: 1000px;
    display: flex;
    
}

.socialLinks {
    display: flex;
    flex-direction: row;
}

.socialImg {
    width: 50px;
}